@charset "UTF-8";
/* Nesting o anidamiento */
/* general */
body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

/* navbar */
/* Nav bar */
.navbar {
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: .1rem;
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.nav-item {
  padding: .5rem;
}

.nav-link {
  color: #5b5555 !important;
}

.nav-link.active,
.nav-link:hover {
  color: #4981b3;
}

/* carousel */
#carousel {
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

.carousel-inner {
  max-height: 38rem !important;
}

/* Transiciones */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  -webkit-transition: -webkit-transform 1.2s ease;
  transition: -webkit-transform 1.2s ease;
  transition: transform 1.2s ease;
  transition: transform 1.2s ease, -webkit-transform 1.2s ease;
}

/* Contenidos */
.carousel-caption {
  position: absolute;
  top: 54%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.bg-custom {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  border-radius: 1rem;
}

.carousel-caption h1 {
  font-size: 3.8rem;
  text-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
}

.border-primary {
  border-top: .2rem solid #4981b3 !important;
}

.carousel-caption h3 {
  font-size: 2.2rem;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
}

/* Boton */
.btn-lg {
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1rem;
  border-width: medium;
}

.btn-danger {
  background-color: #ac2615;
  border: .1rem solid #ac2615;
}

/*Footer*/
.footer {
  width: 100%;
  display: block;
  overflow: hidden;
  padding: 70px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
}

.inner-footer {
  display: block;
  margin: 0 auto;
  width: 1100px;
  height: 100%;
}

.inner-footer .logo-container {
  width: 35%;
  float: left;
  height: 100%;
  display: block;
}

.inner-footer .footer-third {
  width: calc(21.6666666667% - 20px);
  margin-right: 10px;
  float: left;
  height: 100%;
}

.inner-footer .footer-third:last-child {
  margin-right: 0;
}

.inner-footer .footer-third h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  color: white;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.inner-footer .footer-third a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  color: white;
  display: block;
  font-weight: 200;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-decoration: none;
}

.inner-footer .footer-third li {
  display: inline-block;
  padding: 0 5px;
  font-size: 25px;
}

@media (max-width: 800px) {
  .footer .inner-footer {
    width: 90%;
  }
  .inner-footer .logo-container,
  .inner-footer .footer-third {
    width: 100%;
    margin-bottom: 30px;
  }
}

/* MOBILE */
@media only screen and (max-width: 400px) {
  body {
    background-color: #f5cf8e;
  }
}

/* TABLET */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #b2d6ff;
  }
}

/* DEKSTOP */
@media only screen and (min-width: 961px) {
  body {
    background-color: white;
  }
}

.item-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

/* Retratos o fotos de información de los integrantes */
.retrato-1 {
  -webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-6-4 19:52:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation shadow-pop-tr
 * ----------------------------------------
 */
@-webkit-keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
    transform: translateX(-8px) translateY(8px);
  }
}

@keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
    transform: translateX(-8px) translateY(8px);
  }
}
/*# sourceMappingURL=style.css.map */